# Python
*.py[cod]

# Distutils
MANIFEST
build/
dist/

# Gramps
data/tips.xml
data/holidays.xml
po/.intltool-merge-cache
docs/_build/

# Editing
*~
tags
*.swp
.idea

# Testing
test/data

# Windows image file caches
Thumbs.db
ehthumbs.db

# Glade temp files
*~
