# Python
*.py[cod]

# Distutils
MANIFEST
build/
dist/

# Gramps
docs/_build/

# Gramps AIO build artifacts
aio/grampsaio64.nsi
aio/mingw-w64-x86_64-db-*.pkg.tar.xz
aio/mingw64
gramps.egg-info

# Editing
tags
*.swp

# Testing
test/data

# Windows image file caches
Thumbs.db
ehthumbs.db

# IDE
.idea/

# Glade temp files
*~

# Python metadata
.venv*/

