# Make Github recognise Gramps as a Python project,
# by marking .sql files as text files!
# See: https://github.com/github/linguist/issues/2462
# https://github.com/github/linguist/blob/master/README.md
*.sql linguist-language=txt

# Have Github ignore js vendored files.
# https://github.com/gramps-project/gramps/tree/master/data/javascript
#data/javascript/*.js linguist-vendored

# don't mess with line endings for test files
*.vcs -text
*.ged -text
*.GED -text
*.csv -text
*.DEF -text
*.IXI -text
*.REM -text
