# After changing this file, check it on:
#   http://lint.travis-ci.org/

language: python
sudo: false

python:
  - 3.4

addons:
  apt:
    packages:
    - gir1.2-pango-1.0
    - gir1.2-gtk-3.0
    - xdg-utils
    - librsvg2-common
    - libglib2.0-dev
    - intltool
    # - python3-gobject Provided by python3-gi
    - python3-gi
    - python3-cairo
    - python3-gi-cairo
    - python3-bsddb3
    - python3-dev
    - python3-nose
    - python3-mock

matrix:
  include:
    - python: 3.4
      sudo: true
      dist: trusty

      before_install:
        #- pip install --upgrade pip
        #- pip install --upgrade setuptools wheel nose coverage codecov

      install:
        #- travis_retry pip install --upgrade pillow
	#- travis_retry pip install pyicu==1.8
	- travis_retry sudo pip3 install meta
	- python setup.py build
 
 # - cd $TRAVIS_BUILD_DIR
 # $TRAVIS_BUILD_DIR is set to the location of the cloned repository:
 # for example: /home/travis/build/gramps-project/gramps

before_script:
#    - sudo Xvfb :99 -ac &
#    - export DISPLAY=:99
 - mkdir -p ~/.gramps/grampsdb/

script:
 # --exclude=TestUser because of older version of mock
 #                    without configure_mock
 - python -m nose --nologcapture --with-coverage --cover-package=gramps --exclude=TestcaseGenerator --exclude=vcard --exclude=merge_ref_test  --exclude=user_test gramps

after_success:
 - codecov
