include AUTHORS
include ChangeLog
include COPYING
include FAQ
include Gramps.py
include INSTALL
include MANIFEST.in
include NEWS
include RELEASE_NOTES
include TODO
include CONTRIBUTING
include TestPlan.txt
recursive-include aio *
recursive-include data *
recursive-include debian *
recursive-include docs *
recursive-include gramps *
recursive-include help *
recursive-include images *
recursive-include mac *
recursive-include po *
recursive-include test *

# Remove files created in the build
global-exclude *.pyc
global-exclude *.pyo

# Remove directories which should not be included in the distribution
