include COPYING
include FAQ
include gramps.sh.in
include INSTALL
include NEWS
include README
include TODO
include MANIFEST.in
include setup.cfg
include babel.cfg
include setup.py
recursive-include data *
#recursive-include debian *
#recursive-include docs *
recursive-include example *
recursive-include help *
#recursive-include m4 *
#recursive-include mac *
recursive-include po *
recursive-include src *
#recursive-include test *
#recursive-include windows *
global-exclude Makefile.am
