[Desktop Entry]
Name=GRAMPS Genealogy System
Name[sv]=GRAMPS
Comment=Manage genealogical information, perform genealogical research and analysis
Comment[sv]=Ett släktforskningsprogram
Exec=gramps
Icon=gramps.png
Terminal=0
Type=Application
