{% extends "gramps-base.html" %}
{% load my_tags %}

{% block title %}Gramps-Connect{% endblock %}
{% block heading %}Gramps-Connect{% endblock %}

{% block content %} 

<p> &nbsp; </p>

<p id="description">Welcome to Gramps Connect, a new web-based collaboration tool.

{% if user.is_authenticated %}
  You are now logged in
  as <a href="/user/{{user.username}}">{{user.username}}</a>.
{% endif %}
</p>

<p id="description">
Database information:</p>

<table class="infolist surname">
<tr>
<th>Item</th>
<th>Count</th>
</tr>
{% for view in views %}
   <tr class="{% cycle odd,even %}">
       <td align="left"><a href="/{{view.1}}">{{view.0}}</a></td> 
       <td align="right"><a href="/{{view.1}}">{{view.2.objects.count|format_number}}</td>
   </tr>
{% endfor %}
</table>

{% endblock %}

