{% extends "view_page_detail.html" %}
{% load my_tags %}

{% block content %} 

   <script type="text/javascript">
   $(function(){
     $('#tabs').tabs({
	'select': function(event, ui){
			document.location.hash = ui.panel.id;
		}
     });
   });
   </script>

<div class="content" id="IndividualDetail">

{% include "detail_breadcrumb.html" %}

<div id="summaryarea">
<table class="infolist" style="width:90%;"> {% comment %} 4 cols {% endcomment %}
<tbody>
  {% if pickform.errors %}
    <hr>
    <p id="error">The following fields have errors. Please correct and try again.</p>
    <div id="error">{{pickform.errors}}</div>
    <hr>
  {% endif %}
<form method="post">{% csrf_token %}
<tr>
<td class="ColumnAttribute">Pick:</td>
{% if user.is_authenticated %}
 <td class="ColumnValue" id="data">{{pickform.picklist}}</td>
{% else %}
 <td class="ColumnValue" id="data"></td> 
{% endif %}
</tr>
</tbody>
</table>

{% if user.is_superuser %}
    {% make_button "Cancel" "/%s/%s" object_type object_handle args %}
    <input type="hidden" name="action" value="save-share"/>
    <input type="hidden" name="search" value="{{search}}"/>
    <input type="hidden" name="page" value="{{page}}"/>
    <input type="submit" value="Save"/>
{% else %}
{% endif %}
</form>
{% endblock %}

