{% extends "view_page_detail.html" %}
{% load my_tags %}

{% block content %} 

<div class="content" id="IndividualDetail">

{% include "detail_breadcrumb.html" %}
<h2>Temporary Reference Detail</h2>
<div id="summaryarea">
<table class="infolist" style="width:90%;"> 
<trbody>
  {% if form.errors %}
    <hr>
    <p id="error">The following fields have errors. Please correct and try again.</p>
    <div id="error">{{form.errors}}</div>
    <hr>
  {% endif %}
<form method="post">{% csrf_token %}

{% for f in form.forms %}
<tr>
{{f}}
</tr>
{% endfor %}

</table>
</div>
</div>
</form>
{% if user.is_superuser %}
   {% make_button "Go to reference" url %}
{% endif %}
{% endblock %}

