{% extends "view_page.html" %}
{% load my_tags %}

{% block table_data %} 

<table cellspacing="0" class="infolist surname" width="95%">

<thead>
  <tr>
    <th>#</th>
    <th>Text</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  {% for tag in page.object_list %}
  <tr class="{% cycle odd,even %}">
    <td>{{ forloop.counter|row_count:page }}</td>
    <td><a href="/{{view}}/{{tag.handle|escape}}" class="noThumb">
           <span class="grampsid">[{{tag.name}}]</span></a>
    {% if user.is_authenticated %}
      <td></td>
      <td></td>
    {% else %}
      <td></td>
      <td></td>
    {% endif %}
  </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}

