{% extends "view_page_detail.html" %}
{% load my_tags %}

{% block content %} 

   <script type="text/javascript">
     $(function(){

            $('#tabs').tabs();
      });
   </script>

<div class="content" id="IndividualDetail">
<h3>NAME{# form|make_name:user #}</h3>
<div id="summaryarea">
<table class="infolist"> {% comment %} 4 cols {% endcomment %}
<tbody>

{% if user.is_authenticated %}
  {% ifequal action "edit" %}
    {% for error in form.errors %}
       {{error}}<br>
    {% endfor %}
    <form method="post">
  {% endifequal %}
<tr>
 <td class="ColumnAttribute">Family:</td>
 <td class="ColumnValue" id="data">{{form.surname|render:action}}</td>
 <td class="ColumnAttribute">Prefix:</td>
 <td class="ColumnValue" id="data">{{form.prefix|render:action}}</td>
</tr>
 <td class="ColumnAttribute">Given:</td>
 <td class="ColumnValue" id="data">{{form.first_name|render:action}}</td>
 <td class="ColumnAttribute">Call Name:</td>
 <td class="ColumnValue" id="data">{{form.call|render:action}}</td>
<tr>
</tr>
 <td class="ColumnAttribute">Title:</td>
 <td class="ColumnValue" id="data">{{form.title|render:action}}</td>
 <td class="ColumnAttribute">Suffix:</td>
 <td class="ColumnValue" id="data">{{form.suffix|render:action}}</td>
<tr>
 <td class="ColumnAttribute">Patronymic:</td>
 <td class="ColumnValue" id="data">{{form.patronymic|render:action}}</td>
 <td class="ColumnAttribute">Type:</td>
 <td class="ColumnValue" id="data">{{form.name_type|render:action}}</td>
</tr>
</tr>
</tbody>
</table>

{% else %}

<tr>
 <td class="ColumnAttribute">Family:</td>
 <td class="ColumnValue" id="data">{{form.surname}}</td>
 <td class="ColumnAttribute">Prefix:</td>
 <td class="ColumnValue" id="data">[Private]</td>
<tr>
 <td class="ColumnAttribute">Given:</td>
 <td class="ColumnValue" id="data">[Private]</td>
 <td class="ColumnAttribute">Call Name:</td>
 <td class="ColumnValue" id="data">[Private]</td>
</tr>
</tr>
 <td class="ColumnAttribute">Title:</td>
 <td class="ColumnValue" id="data">[Private]</td>
 <td class="ColumnAttribute">Suffix:</td>
 <td class="ColumnValue" id="data">[Private]</td>
<tr>
 <td class="ColumnAttribute">Patronymic:</td>
 <td class="ColumnValue" id="data">[Private]</td>
 <td class="ColumnAttribute">Type:</td>
 <td class="ColumnValue" id="data">{{form.name_type}}</td>
</tr>
</tbody>
</table>

{% endif %}
</div>
</div>
<!-- Tabs -->
<h2 class="demoHeaders">Tabs</h2>

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tab-general">General</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-sources">Sources</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-notes">Notes</a></li>
  </ul>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="tab-general"> 
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-sources">
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-notes">
  </div>
</div>

[<a href="/person/{{person.handle}}/">Back to Person Details</a>]
{% if user.is_authenticated %}
  {% ifequal action "edit" %}
    <input type="hidden" name="action" value="save"/>
    <input type="submit" value="Submit"/>
    </form>
  {% else %}
[<a href="/person/{{person.handle}}/name/{{order}}/edit">Edit Name</a>]
[<a href="/person/{{person.handle}}/name/{{order}}/delete">Delete Name</a>]
[<a href="/person/{{person.handle}}/name/{{order}}/add">Add Name</a>]
  {% endifequal %}
{% else %}
{% endif %}
{% endblock %}

