{% extends "view_page.html" %}
{% load my_tags %}

{% block table_data %} 

<table cellspacing="0" class="infolist surname" width="95%">
<thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>ID</th>
    <th>Gender</th>
    <th>Birth Date</th>
<!--    <td>Birth Place</td> -->
<!--    <td>Death Place</td> -->
    <th>Death Date</th>
<!--    <td>Spouse</td> -->
  </tr>
</thead>
<tbody>
  {% for name in page.object_list %}
  <tr class="{% cycle odd,even %}">
    {% get_person_from_handle db name.person.handle as person %}
    {% if person %}
    <td><a href="{{person.handle}}/" class="noThumb">{{ forloop.counter|row_count:page }}</a>
    </td>
    <td><a href="{{person.handle}}/" class="noThumb">{{person|make_name:user}}</a>
    </td>
    <td><a href="{{person.handle}}/" class="grampsid">[{{person.gramps_id}}]</a></td>
    <td><a href="{{person.handle}}/" class="noThumb">{{person.gender_type}}</a></td>
    <td><a href="{{person.handle}}/" class="noThumb">{{person|person_get_birth_date|nbsp}}</a></td>
    <td><a href="{{person.handle}}/" class="noThumb">{{person|person_get_death_date|nbsp}}</a></td>
    {% endif %}
  </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}

