{% extends "view_page.html" %}
{% load my_tags %}

{% block table_data %} 

<table cellspacing="0" class="infolist surname" width="95%">
<thead>
  <tr>
    <th>#</th>
    <th>ID</th>
    <th>Father</th>
    <th>Mother</th>
    <th>Relationship</th>
  </tr>
</thead>
<tbody>
  {% for family in page.object_list %}
  <tr class="{% cycle odd,even %}">
    <td><a href="/{{view}}/{{family.handle|escape}}" class="noThumb">{{ forloop.counter|row_count:page }}</a></td>
    <td><a href="/{{view}}/{{family.handle|escape}}" class="noThumb"><span class="grampsid">[{{family.gramps_id}}]</span></a>
    <td><a href="/{{view}}/{{family.handle|escape}}">{{family.father.name_set|make_name:user|nbsp}}</a>
    <td><a href="/{{view}}/{{family.handle|escape}}">{{family.mother.name_set|make_name:user|nbsp}}</a>
    {% if user.is_authenticated %}
    <td><a href="/{{view}}/{{family.handle|escape}}">{{family.family_rel_type|escape}}</a>
    {% else %}
    <td><a href="/{{view}}/{{family.handle|escape}}">[Private]</a>
    {% endif %}
  </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}

