{% extends "view_page_detail.html" %}
{% load my_tags %}

{% block content %} 

   <script type="text/javascript">
   $(function(){
     $('#tabs').tabs({
	'select': function(event, ui){
			document.location.hash = ui.panel.id;
		}
     });
   });
   </script>

<div class="content" id="IndividualDetail">

{% include "detail_breadcrumb.html" %}

<div id="summaryarea">
<table class="infolist" style="width:90%;"> 
<trbody>
  {% if eventform.errors %}
    <hr>
    <p id="error">The following fields have errors. Please correct and try again.</p>
    <div id="error">{{eventform.errors}}</div>
    <hr>
  {% endif %}
<form method="post">{% csrf_token %}
<tr>
<td class="ColumnAttribute">{{eventform.event_type.label}}:</td>
<td class="ColumnValue" id="data"> {% render eventform.event_type user action %}</td>
<td class="ColumnAttribute">{{eventform.text.label}}:</td>
<td class="ColumnValue" id="data">{% render eventform.text user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">Description:</td>
<td  class="ColumnValue" id="data" colspan="3">{% render eventform.description user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">ID:</td>
<td  class="ColumnValue" id="data" colspan="3">{% render eventform.gramps_id user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">Place:</td>
<td  class="ColumnValue" id="data" colspan="3">{% render eventform.place user action %}</td>
</tr>
</table>
</div>
</div>
<!-- Tabs -->

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
  <ul class="ui-tab-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tab-selected ui-state-active"><a href="#tab-sources">Source Citations</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-notes">Notes</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-media">Media</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-attributes">Attributes</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-references">References</a></li>
  </ul>
  <div class="ui-tab-panel ui-widget-content ui-corner-bottom" id="tab-sources">
    {% citation_table event user action "/citation/$act/event/%s" event.handle %}
  </div>
  <div class="ui-tab-panel ui-widget-content ui-corner-bottom ui-tab-hide" id="tab-notes">
    {% note_table event user action "/note/$act/event/%s" event.handle %}
  </div>
  <div class="ui-tab-panel ui-widget-content ui-corner-bottom ui-tab-hide" id="tab-media">
    {% media_table event user action "/media/$act/event/%s" event.handle %}
  </div>
  <div class="ui-tab-panel ui-widget-content ui-corner-bottom ui-tab-hide" id="tab-attributes">
    {% attribute_table event user action "/attribute/$act/event/%s" event.handle %}
  </div>
  <div class="ui-tab-panel ui-widget-content ui-corner-bottom ui-tab-hide" id="tab-references">
    {% event_reference_table event user action %}
  </div>
</div>

{% if user.is_superuser %}
  {% if action == "edit" %}
    {% make_button "Cancel" "/event/%s" event.handle args %}
    <input type="hidden" name="action" value="save"/>
    <input type="hidden" name="search" value="{{search}}"/>
    <input type="hidden" name="page" value="{{page}}"/>
    <input type="submit" value="Save"/>
  {% else %}
    {% ifequal action "add" %}
      {% make_button "Cancel" "/event/" args %}
      <input type="hidden" name="action" value="create"/>
      <input type="hidden" name="search" value="{{search}}"/>
      <input type="hidden" name="page" value="{{page}}"/>
      <input type="submit" value="Create"/>
    {% else %}
      {% make_button "Add Event" "/event/add" args %}
      {% make_button "Edit Event" "/event/%s/edit" event.handle args %}
      {% make_button "Delete Event" "/event/%s/delete" event.handle args %}
    {% endifequal %}
  {% endif %}
{% else %}
{% endif %}
</form>
{% endblock %}

