{% extends "view_page_detail.html" %}
{% load my_tags %}

{% block content %} 

   <script type="text/javascript">
     $(function(){

            $('#tabs').tabs();
      });
   </script>

<div class="content" id="IndividualDetail">

{% include "detail_breadcrumb.html" %}

<div id="summaryarea">
<table class="infolist" style="width:90%;"> {% comment %} 5 cols {% endcomment %}
<tbody>
  {% if personform.errors or nameform.errors or surnameform.errors %}
    <hr>
    <p id="error">The following fields have errors. Please correct and try again.</p>
    <div id="error">
       {{personform.errors}}
       {{nameform.errors}}
       {{surnameform.errors}}
    </div>
    <hr>
  {% endif %}
<form method="post">{% csrf_token %}
<tr>
 <td colspan="4" id="subtitle">{{nameform|render_name:user}}</td>
 <td class="ColumnAttribute">{{nameform.name_type.label}}:</td>
 <td class="ColumnValue" id="data">{% render nameform.name_type user action %}</td>
</tr>
<tr><td id="rowspace"></td></tr>
<tr>
 <td class="ColumnAttribute">{{nameform.title.label}}:</td>
 <td class="ColumnValue" id="data">{% render nameform.title user action False "" "get_focus" %}</td>
 <td class="ColumnAttribute">{{nameform.nick.label}}:</td>
 <td class="ColumnValue" id="data">{% render nameform.nick user action %}</td>
 <td class="ColumnAttribute">{{nameform.call.label}}:</td>
 <td class="ColumnValue" id="data">{% render nameform.call user action %}</td>
</tr>
<tr><td id="rowspace"></td></tr>
<tr>
 <td class="ColumnAttribute">{{nameform.first_name.label}}:</td>
 <td class="ColumnValue" id="data" colspan="4">{% render nameform.first_name user action %}</td>
 <td class="ColumnValue" id="data">{% render nameform.suffix user action %}</td>
</tr>
<tr><td id="rowspace"></td></tr>
<tr>
 <td class="ColumnAttribute">{{surnameform.surname.label}}:</td>
 <td class="ColumnValue" id="data">{% render surnameform.prefix user action %}</td>
 <td class="ColumnValue" id="data" colspan="2">{% render surnameform.surname user action %}</td>
 <td class="ColumnAttribute">{{surnameform.name_origin_type.label}}:</td>
 <td class="ColumnValue" id="data" colspan="2">{% render surnameform.name_origin_type user action %}</td>
</tr>
<tr><td id="rowspace"></td></tr>
<tr>
 <td class="ColumnAttribute">{{personform.gender_type.label}}:</td>
 <td class="ColumnValue" id="data">{% render personform.gender_type user action %}</td>
 <td class="ColumnAttribute">{{personform.gramps_id.label}}:</td>
 <td class="ColumnValue" id="data">{% render personform.gramps_id user action %}</td>
 <td class="ColumnAttribute">{{personform.tags.label}}:</td>
 <td class="ColumnValue" id="data" rowspan="3">{% render personform.tags user action %}</td>
</tr>
<tr><td id="rowspace"></td></tr>
<tr>
 <td class="ColumnAttribute">{{personform.private.label}}:</td>
 <td class="ColumnValue" id="data">{% render personform.private user action %}</td>
</tr>
</tbody>
</table>

</div>
</div>
<!-- Tabs -->

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tab-events">Events</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-names">Names</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-citations">Citations</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-attributes">Attributes</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-addresses">Addresses</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-notes">Notes</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-gallery">Gallery</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-internet">Internet</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-association">Associations</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-lds">LDS</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-references">References</a></li>
  </ul>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="tab-events"> 
    <!-- Events -->
    {% event_table person user action "/event/$act/person/%s" person.handle %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-names">
    {% name_table person user action "/person/%s/name" person.handle %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-citations">
    {% citation_table person user action "/citation/$act/person/%s" person.handle %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-attributes">
    {% attribute_table person user action "/attribute/$act/person/%s" person.handle %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-addresses">
    {% address_table person user action "/place/$act/person/%s" person.handle %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom
	      ui-tabs-hide" id="tab-notes">
    {% note_table person user action "/note/$act/person/%s" person.handle %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-gallery">
    {% gallery_table person user action "/media/$act/person/%s" person.handle %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-internet">
    {% internet_table person user action "/person/%s/$act/internet" person.handle %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-association">
    {% association_table person user action "/person/%s/$act/association" person.handle %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-lds">
    {% lds_table person user action "/person/%s/$act/lds" person.handle %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-references">
    {% reference_table person user action "/reference/$act/person/%s" person.handle %}
  </div>
</div>

{% if user.is_superuser %}
  {% if action == "edit" %}
    {% make_button "Back to Person" "/person/%s" person.handle %}
    <input type="hidden" name="action" value="save"/>
    <input type="submit" value="Save"/>
  {% else %}
    {% ifequal action "add" %}
      {% make_button "Cancel" "/person/" %}
      <input type="hidden" name="action" value="create"/>
      <input type="submit" value="Create"/>
    {% else %}
      {% make_button "Back to People" "/person" %}
      {% make_button "Add Person" "/person/add" %}
      {% make_button "Edit Person" "/person/%s/edit" person.handle %}
      {% make_button "Delete Person" "/person/%s/delete" person.handle %}
    {% endifequal %}
  {% endif %}
{% else %}
{% endif %}
</form>
{% endblock %}

