{% extends "view_page_detail.html" %}
{% load my_tags %}

{% block content %} 

   <script type="text/javascript">
   $(function(){
     $('#tabs').tabs({
	'select': function(event, ui){
			document.location.hash = ui.panel.id;
		}
     });
   });
   </script>

<div class="content" id="IndividualDetail">

   {% filter breadcrumb %}
      {% format "/browse|Browse,/person|People,/person/%s|Person [%s],/person/%s/name/%s|Name #%s" object.handle object.gramps_id object.handle order order %}
   {% endfilter %}


<h3>{{person|make_name:user}} [{{person.gramps_id}}]</h3>
<div id="summaryarea">
<table class="infolist" style="width:90%;"> {% comment %} 4 cols {% endcomment %}
<tbody>
{% for error in form.errors %}
    <p id="error">{{error}}</p>
{% endfor %}
<form method="post">{% csrf_token %}
<tr>
 <td class="ColumnAttribute">{{surnameform.name_origin_type.label}}:</td>
 <td class="ColumnValue" id="data">{% render surnameform.name_origin_type user action %}</td>
</tr>
<tr>
 <td class="ColumnAttribute">{{surnameform.primary.label}}:</td>
 <td class="ColumnValue" id="data">{% render surnameform.primary user action %}</td>
</tr>
<tr>
 <td class="ColumnAttribute">{{surnameform.prefix.label}}:</td>
 <td class="ColumnValue" id="data">{% render surnameform.prefix user action %}</td>
</tr>
<tr>
 <td class="ColumnAttribute">{{surnameform.surname.label}}:</td>
 <td class="ColumnValue" id="data">{% render surnameform.surname user action %}</td>
</tr>
<tr>
 <td class="ColumnAttribute">{{surnameform.connector.label}}:</td>
 <td class="ColumnValue" id="data">{% render surnameform.connector user action %}</td>
</tr>
</tbody>
</table>
</div>
</div>

<!-- Tabs -->

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tab-general">General</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-sources">Sources</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-notes">Notes</a></li>
  </ul>

</div>

{% if user.is_authenticated %}
  {% if action == "edit" %}
    <input type="button" 
	   value="Cancel" 
	   onclick="document.location.href='/person/{{person.handle}}/name/{{order}}/surname/{{sorder}}'"/>
    <input type="hidden" name="action" value="save"/>
    <input type="submit" value="Save">
  {% else %} 
     {% if action == "add" %}
    <input type="button" 
	   value="Cancel" 
	   onclick="document.location.href='/person/{{person.handle}}/name/{{order}}'"/>
    <input type="hidden" name="action" value="create"/>
    <input type="submit" value="Save">
    {% else %}
    <input type="button" 
	   value="Add Surname" 
	   onclick="document.location.href='/person/{{person.handle}}/name/{{order}}/surname/add'"/>
    <input type="button" 
	   value="Edit Surname" 
	   onclick="document.location.href='/person/{{person.handle}}/name/{{order}}/surname/{{sorder}}/edit'"/>
    <input type="button" 
	   value="Delete Surname" 
	   onclick="document.location.href='/person/{{person.handle}}/name/{{order}}/surname/{{sorder}}/delete'"/>
    {% endif %}
  {% endif %}
{% endif %}
</form>
{% endblock %}

