{% extends "view_page_detail.html" %}
{% load my_tags %}

{% block content %} 

   <script type="text/javascript">
     $(function(){

            $('#tabs').tabs();
      });
   </script>

<div class="content" id="IndividualDetail">

{% include "detail_breadcrumb.html" %}

<div id="summaryarea">
<table class="infolist" style="width:90%;"> 
<trbody>
  {% if eventform.errors %}
    <hr>
    <p id="error">The following fields have errors. Please correct and try again.</p>
    <div id="error">{{eventform.errors}}</div>
    <hr>
  {% endif %}
<form method="post">{% csrf_token %}
<tr>
<td class="ColumnAttribute">{{eventform.event_type.label}}:</td>
<td class="ColumnValue" id="data"> {% render eventform.event_type user action %}</td>
<td class="ColumnAttribute">{{eventform.text.label}}:</td>
<td class="ColumnValue" id="data">{% render eventform.text user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">Description:</td>
<td  class="ColumnValue" id="data" colspan="3">{% render eventform.description user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">ID:</td>
<td  class="ColumnValue" id="data" colspan="3">{% render eventform.gramps_id user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">Place:</td>
<td  class="ColumnValue" id="data" colspan="3">{% render eventform.place user action %}</td>
</tr>
</table>
</div>
</div>
<!-- Tabs -->

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tabs-sources">Sources</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tabs-notes">Notes</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tabs-gallery">Gallery</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tabs-attributes">Attributes</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tabs-references">References</a></li>
  </ul>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-sources">
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tabs-notes">
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tabs-gallery">
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tabs-attributes">
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tabs-references">
    {% event_reference_table event user action %}
  </div>
</div>

{% if user.is_superuser %}
  {% if action == "edit" %}
    {% make_button "Back to Event" "/event/%s" event.handle %}
    <input type="hidden" name="action" value="save"/>
    <input type="submit" value="Save"/>
  {% else %}
    {% ifequal action "add" %}
      {% make_button "Cancel" "/event/" %}
      <input type="hidden" name="action" value="create"/>
      <input type="submit" value="Create"/>
    {% else %}
      {% make_button "Back to Events" "/event" %}
      {% make_button "Add Event" "/event/add" %}
      {% make_button "Edit Event" "/event/%s/edit" event.handle %}
      {% make_button "Delete Event" "/event/%s/delete" event.handle %}
    {% endifequal %}
  {% endif %}
{% else %}
{% endif %}
</form>
{% endblock %}

