{% extends "view_page_detail.html" %}
{% load my_tags %}

{% block content %} 

   <script type="text/javascript">
     $(function(){

            $('#tabs').tabs();
      });
   </script>


<div class="content" id="IndividualDetail">

{% include "detail_breadcrumb.html" %}

<h3>{{source.title|escape}}</h3>
<div id="summaryarea">
<table class="infolist" style="width:90%;"> {% comment %} 2 cols {% endcomment %}
<tbody>
  {% if sourceform.errors %}
    <hr>
    <p id="error">The following fields have errors. Please correct and try again.</p>
    <div id="error">{{sourceform.errors}}</div>
    <hr>
  {% endif %}
<form method="post">{% csrf_token %}
<tr>
<td class="ColumnAttribute">{{sourceform.title.label}}:</td>
<td class="ColumnValue" id="data">{% render sourceform.title user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">{{sourceform.gramps_id.label}}:</td>
<td class="ColumnValue" id="data">{% render sourceform.gramps_id user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">{{sourceform.abbrev.label}}:</td>
<td class="ColumnValue" id="data">{% render sourceform.abbrev user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">{{sourceform.pubinfo.label}}:</td>
<td class="ColumnValue" id="data">{% render sourceform.pubinfo user action %}</td>
</tr>
</tbody>
</table>
</div>
</div>

<!-- Tabs -->

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tab-notes">Notes</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-gallery">Gallery</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-data">Data</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-repositories">Repositories</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-references">References</a></li>
  </ul>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="tab-notes"> 
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-gallery">
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-data">
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-repositories">
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-references">
  </div>
</div>

{% if user.is_superuser %}
  {% if action == "edit" %}
    {% make_button "Back to Source" "/source/%s" source.handle %}
    <input type="hidden" name="action" value="save"/>
    <input type="submit" value="Save"/>
  {% else %}
    {% ifequal action "add" %}
      {% make_button "Cancel" "/source/" %}
      <input type="hidden" name="action" value="create"/>
      <input type="submit" value="Create"/>
    {% else %}
      {% make_button "Back to Sources" "/source" %}
      {% make_button "Add Source" "/source/add" %}
      {% make_button "Edit Source" "/source/%s/edit" source.handle %}
      {% make_button "Delete Source" "/source/%s/delete" source.handle %}
    {% endifequal %}
  {% endif %}
{% else %}
{% endif %}
</form>
{% endblock %}
