{% extends "view_page.html" %}
{% load my_tags %}

{% block table_data %} 

<table cellspacing="0" class="infolist surname" width="95%">
<thead>
  <tr>
    <th>#</th>
    <th>ID</th>
    <th>Event Type</th>
    <th>Description</th>
    <th>Date</th>
    <th>Place</th>
  </tr>
</thead>
<tbody>
  {% for event in page.object_list %}
  <tr class="{% cycle odd,even %}">
    <td>{{ forloop.counter|row_count:page }}</td>
    <td><a href="/{{view}}/{{event.handle|escape}}" class="noThumb">
           <span class="grampsid">[{{event.gramps_id}}]</span></a>

    {% if user.is_authenticated %}

    <td><a href="/{{view}}/{{event.handle|escape}}">{{event.event_type|nbsp}}</a>
    <td><a href="/{{view}}/{{event.handle|escape}}">{{event.description|nbsp}}</a>
    <td><a href="/{{view}}/{{event.handle|escape}}">{{event|render_date:user}}</a>
    <td><a href="/{{view}}/{{event.handle|escape}}">{{event.place.title|nbsp}}</a>

    {% else %}
      <td>[Private]</td>
      <td>[Private]</td>
      <td>[Private]</td>
      <td>[Private]</td>
    {% endif %}

  </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}

