{% extends "view_page_detail.html" %}
{% load my_tags %}

{% block content %} 

   <script type="text/javascript">
   $(function(){
     $('#tabs').tabs({
	'select': function(event, ui){
			document.location.hash = ui.panel.id;
		}
     });
   });
   </script>

<div class="content" id="IndividualDetail">

{% include "detail_breadcrumb.html" %}


<div id="summaryarea">
<table class="infolist" style="width:90%;">
<tbody>
  {% if mediaform.errors %}
    <hr>
    <p id="error">The following fields have errors. Please correct and try again.</p>
    <div id="error">{{mediaform.errors}}</div>
    <hr>
  {% endif %}
<form method="post">{% csrf_token %}
<tr>
<td class="ColumnAttribute">{{mediaform.desc.label}}:</td>
<td class="ColumnValue" id="data" colspan="3">{% render mediaform.desc user action %}</td>
<td rowspan="5">{% media_link media.handle user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">{{mediaform.gramps_id.label}}:</td>
<td class="ColumnValue" id="data">{% render mediaform.gramps_id user action %}</td>
<td class="ColumnAttribute">{{mediaform.private.label}}:</td>
<td class="ColumnValue" id="data">{% render mediaform.private user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">{{mediaform.text.label}}:</td>
<td class="ColumnValue" id="data" colspan="3">{% render mediaform.text user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">{{mediaform.path.label}}:</td>
<td class="ColumnValue" id="data" colspan="3">{% render mediaform.path user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">{{mediaform.tags.label}}:</td>
<td class="ColumnValue" id="data" colspan="3">{% render mediaform.tags user action %}</td>
</tr>
</table>

<!-- Tabs -->

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs" style="border: none;">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tab-sources" style=":hover {color: black;}">Citation</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-attributes">Attribute</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-notes">Note</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-references">Reference</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-history">History</a></li>
  </ul>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-sources" style="background-color: #f4f0ec;"> 
    {% citation_table media user action "/citation/$act/media/%s" media.handle %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-notes" style="background-color: #f4f0ec;"> 
    {% note_table media user action "/note/$act/media/%s" media.handle %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-attributes" style="background-color: #f4f0ec;"> 
    {% attribute_table media user action "/attribute/add/media/%s" media.handle %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="tab-references" style="background-color: #f4f0ec;"> 
    {% media_reference_table media user action %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-history" style="background-color: #f4f0ec;"> 
    {% history_table media user action %}
  </div>
</div>

{% if user.is_superuser %}
  {% if action == "edit" %}
    {% make_button "Cancel" "/media/%s" media.handle args %}
    <input type="hidden" name="action" value="save"/>
    <input type="hidden" name="search" value="{{search}}"/>
    <input type="hidden" name="page" value="{{page}}"/>
    <input type="submit" value="Save"/>
  {% else %}
    {% ifequal action "add" %}
      {% make_button "Cancel" "/media/" args %}
      <input type="hidden" name="action" value="create"/>
      <input type="hidden" name="search" value="{{search}}"/>
      <input type="hidden" name="page" value="{{page}}"/>
      <input type="submit" value="Create"/>
    {% else %}
      {% make_button "Add Media" "/media/add" args %}
      {% make_button "Edit Media" "/media/%s/edit" media.handle args %}
      {% make_button "Delete Media" "/media/%s/delete" media.handle args %}
    {% endifequal %}
  {% endif %}
{% else %}
{% endif %}
</form>
{% endblock %}

