{% extends "gramps-base.html" %}
{% load my_tags %}

{% block title %}Gramps-Connect: {{tview}} view {% endblock %}
{% block heading %}Gramps-Connect: {{tview}} view {% endblock %}

{% block content %} 

<div id="description" style="padding: 10pt 10pt 10pt 10pt;">
<form name="SearchForm">
<input type="submit" value="Search:"></input>
<input autocomplete="off" name="search" id="get_focus" type="text" size="50" value="{{search}}"></input>
</form>
</div>

<div class="pagination">
    <span class="step-links">
        <div id="alphabet" style="padding: 0pt 0 0pt 0;">
        <ul>
        {% ifequal page.number 1 %}
        <li>first</li>
        {% else %}
        <li><a href="?page=1{{search_query}}">first</a></li>
	{% endifequal %}
        {% if page.has_previous %}
            <li><a href="?page={{page.previous_page_number}}{{search_query}}">previous</a></li>
	{% else %}
            <li>previous</li>
        {% endif %}

        <span class="current">
            <li>Page {{ page.number }} of {{ page.paginator.num_pages }}</li>
        </span>

        {% if page.has_next %}
            <li><a href="?page={{ page.next_page_number }}{{search_query}}">next</a></li>
	{% else %}
            <li>next</li>
        {% endif %}
        {% ifequal page.number page.paginator.num_pages %}
        <li>last</li>
        {% else %}
        <li><a href="?page={{page.paginator.num_pages}}{{search_query}}">last</a></li>
	{% endifequal %}
	<b>Matches</b>: {{page.paginator.count}}/{{total}}
	</ul>
        </div>
    </span>
</div>

<p>&nbsp;</p>

<div style="overflow:auto; height:450px;width:700px;">

{% block table_data %} <table></table> {% endblock %}

</div>

<div class="pagination">
    <span class="step-links">
        <div id="alphabet" style="padding: 10pt 0 10pt 0;">
        <ul>
        {% ifequal page.number 1 %}
        <li>first</li>
        {% else %}
        <li><a href="?page=1{{search_query}}">first</a></li>
	{% endifequal %}
        {% if page.has_previous %}
            <li><a href="?page={{page.previous_page_number}}{{search_query}}">previous</a></li>
	{% else %}
            <li>previous</li>
        {% endif %}

        <span class="current">
            <li>Page {{ page.number }} of {{ page.paginator.num_pages }}</li>
        </span>

        {% if page.has_next %}
            <li><a href="?page={{ page.next_page_number }}{{search_query}}">next</a></li>
	{% else %}
            <li>next</li>
        {% endif %}
        {% ifequal page.number page.paginator.num_pages %}
        <li>last</li>
        {% else %}
        <li><a href="?page={{page.paginator.num_pages}}{{search_query}}">last</a></li>
	{% endifequal %}
	<b>Matches</b>: {{page.paginator.count}}/{{total}}
	</ul>
        </div>
    </span>
</div>

{% endblock %}
