{% extends "view_page_detail.html" %}
{% load my_tags %}

{% block content %} 

   <script type="text/javascript">
     $(function(){

            $('#tabs').tabs();
      });
   </script>

<div class="content" id="IndividualDetail">

{% include "detail_breadcrumb.html" %}

<div id="summaryarea">

<table class="infolist" style="width:90%;">
<trbody>
  {% if repositoryform.errors %}
    <hr>
    <p id="error">The following fields have errors. Please correct and try again.</p>
    <div id="error">{{repositoryform.errors}}</div>
    <hr>
  {% endif %}
<form method="post">{% csrf_token %}
<tr>
<td class="ColumnAttribute">{{repositoryform.name.label}}:</td>
<td class="ColumnValue" id="data" colspan="5">{% render repositoryform.name user action %} </td>
</tr>
<tr>
<td class="ColumnAttribute">{{repositoryform.repository_type.label}}:</td>
<td class="ColumnValue" id="data" colspan="3">{% render repositoryform.repository_type user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">{{repositoryform.gramps_id.label}}:</td>
<td class="ColumnValue" id="data">{% render repositoryform.gramps_id user action %}</td>
<td class="ColumnAttribute" >{{repositoryform.private.label}}:</td>
<td class="ColumnValue" id="data">{% render repositoryform.private user action %}</td>
</tr>
</table>

<!-- Tabs -->

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tabs-addresses">Addresses</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tabs-internet">Internet</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tabs-notes">Notes</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tabs-references">References</a></li>
  </ul>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-addresses">
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tabs-internet">
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tabs-notes">
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tabs-references">
    {% repository_reference_table repository user action %}
  </div>
</div>

{% if user.is_superuser %}
  {% if action == "edit" %}
    {% make_button "Back to Repository" "/repository/%s" repository.handle %}
    <input type="hidden" name="action" value="save"/>
    <input type="submit" value="Save"/>
  {% else %}
    {% ifequal action "add" %}
      {% make_button "Cancel" "/repository/" %}
      <input type="hidden" name="action" value="create"/>
      <input type="submit" value="Create"/>
    {% else %}
      {% make_button "Back to Repositories" "/repository" %}
      {% make_button "Add Repository" "/repository/add" %}
      {% make_button "Edit Repository" "/repository/%s/edit" repository.handle %}
      {% make_button "Delete Repository" "/repository/%s/delete" repository.handle %}
    {% endifequal %}
  {% endif %}
{% else %}
{% endif %}
</form>
{% endblock %}

