{% extends "view_page_detail.html" %}
{% load my_tags %}

{% block content %} 

   <script type="text/javascript">
   $(function(){
     $('#tabs').tabs({
	'select': function(event, ui){
			document.location.hash = ui.panel.id;
		}
     });
   });
   </script>

<div class="content" id="IndividualDetail">

{% include "detail_breadcrumb.html" %}

<div id="summaryarea">

<table class="infolist" style="width:90%;">
<trbody>
  {% if placeform.errors %}
    <hr>
    <p id="error">The following fields have errors. Please correct and try again.</p>
    <div id="error">{{placeform.errors}}</div>
    <hr>
  {% endif %}
<form method="post">{% csrf_token %}
<tr>
<td class="ColumnAttribute">{{placeform.title.label}}:</td>
<td class="Columnvalue" id="data" colpan="3"> {% render placeform.title user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">{{placeform.lat.label}}:</td>
<td class="ColumnValue" id="data">{% render placeform.lat user action %}</td>
<td class="ColumnAttribute">{{placeform.long.label}}:</td>
<td class="ColumnValue" id="data">{% render placeform.long user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">{{placeform.gramps_id.label}}:</td>
<td class="ColumnValue" id="data">{% render placeform.gramps_id user action %}</td>
<td class="ColumnAttribute">{{placeform.private.label}}:</td>
<td class="ColumnValue" id="data">{% render placeform.private user action %}</td>
</tr>
</table>

<!-- Tabs -->

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tab-locations">Location</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-alternatelocations">Alternate Locations</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-citations">Citations</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-notes">Notes</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-media">Media</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-internet">Internet</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-references">References</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-history">History</a></li>
  </ul>
  <div class="ui-tab-panel ui-widget-content ui-corner-bottom" id="tab-locations">
    <!-- place.location_set  -->
  </div>
  <div class="ui-tab-panel ui-widget-content ui-corner-bottom ui-tab-hide" id="tab-alternatelocations">
    {% location_table place user action "/location/$act/place/%s" place.handle %}
  </div>
  <div class="ui-tab-panel ui-widget-content ui-corner-bottom ui-tab-hide" id="tab-citations">
    {% citation_table place user action "/citation/$act/place/%s" place.handle %}
  </div>
  <div class="ui-tab-panel ui-widget-content ui-corner-bottom ui-tab-hide" id="tab-notes">
    {% note_table place user action "/note/$act/place/%s" place.handle %}
  </div>
  <div class="ui-tab-panel ui-widget-content ui-corner-bottom ui-tab-hide" id="tab-media">
    {% media_table place user action "/media/$act/place/%s" place.handle %}
  </div>
  <div class="ui-tab-panel ui-widget-content ui-corner-bottom ui-tab-hide" id="tab-internet">
    {% internet_table place user action "/internet/$act/place/%s" place.handle %}
  </div>
  <div class="ui-tab-panel ui-widget-content ui-corner-bottom ui-tab-hide" id="tab-references">
    {% place_reference_table place user action %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-history">
    {% history_table place user action %}
  </div>
</div>
</div>
</div>

{% if user.is_superuser %}
  {% if action == "edit" %}
    {% make_button "Cancel" "/place/%s" place.handle args %}
    <input type="hidden" name="action" value="save"/>
    <input type="hidden" name="search" value="{{search}}"/>
    <input type="hidden" name="page" value="{{page}}"/>
    <input type="submit" value="Save"/>
  {% else %}
    {% ifequal action "add" %}
      {% make_button "Cancel" "/place/" args %}
      <input type="hidden" name="action" value="create"/>
      <input type="hidden" name="search" value="{{search}}"/>
      <input type="hidden" name="page" value="{{page}}"/>
      <input type="submit" value="Create"/>
    {% else %}
      {% make_button "Add Place" "/place/add" args %}
      {% make_button "Edit Place" "/place/%s/edit" place.handle args %}
      {% make_button "Delete Place" "/place/%s/delete" place.handle args %}
    {% endifequal %}
  {% endif %}
{% else %}
{% endif %}
</form>
{% endblock %}

