{% extends "view_page.html" %}
{% load my_tags %}

{% block table_data %} 

<table cellspacing="0" class="infolist surname" width="95%">
<thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>ID</th>
    <th>Gender</th>
    <th>Birth Date</th>
    <th>Death Date</th>
  </tr>
</thead>
<tbody>
  {% for name in page.object_list %}
  <tr class="{% cycle odd,even %}">
    {% if name.person %}
    <td><a href="{{name.person.handle}}/" class="noThumb">{{ forloop.counter|row_count:page }}</a>
    </td>
    <td><a href="{{name.person.handle}}/" class="noThumb">{{name|make_name:user}}</a>
    </td>
    <td><a href="{{name.person.handle}}/" class="grampsid">[{{name.person.gramps_id}}]</a></td>
    <td><a href="{{name.person.handle}}/" class="noThumb">{{name.person.gender_type}}</a></td>
    <td><a href="{{name.person.handle}}/" class="noThumb">{{name.person.birth|render_date:user}}</a></td>
    <td><a href="{{name.person.handle}}/" class="noThumb">{{name.person.death|render_date:user}}</a></td>
    {% endif %}
  </tr>
  {% endfor %}
</tbody>
</table>

{% if user.is_authenticated %}

{% make_button "Add Person" "/person/add" %}

{% endif %}

{% endblock %}

