{% extends "view_page_detail.html" %}
{% load my_tags %}

{% block content %} 

   <script type="text/javascript">
     $(function(){

            $('#tabs').tabs();
      });
   </script>

<table>
<tr>
<td>Event type:</td><td> </td><td>Date:</td><td></td>
</tr>
<tr>
<td>Description:</td><td spancols="2">{{event.description|escape}}</td>
</tr>
<tr>
<td>ID:</td><td spancols="2">{{event.gramps_id|escape}}</td>
</tr>
<tr>
<td>Place:</td><td spancols="2">{{event.place.title|escape}}</td>
</tr>
</table>

<!-- Tabs -->
<h2 class="demoHeaders">Tabs</h2>

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tab-children">Children</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-events">Events</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-sources">Sources</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-attributes">Attributes</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-notes">Notes</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-gallery">Gallery</a></li>
    <li class="ui-corner-top ui-state-default"><a href="#tab-lds">LDS</a></li>
  </ul>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="tab-children"> 
    <!-- Events -->
    {{ family|family_children_table:user|safe }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-events">
    {{ family|family_event_table:user|safe }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-sources">
    {{ family|family_source_table:user|safe }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-attributes">
    {{ family|family_attribute_table:user|safe }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-notes">
    {{ family|family_note_table:user|safe }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-gallery">
    {{ family|family_gallery_table:user|safe }}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-lds">
    {{ family|family_lds_table:user|safe }}
  </div>
</div>


{% endblock %}

