{% extends "view_page.html" %}
{% load my_tags %}

{% block table_data %} 

<table cellspacing="0" class="infolist surname" width="90%">
<thead>
  <tr>
    <th>#</th>
    <th>ID</th>
    <th>Title</th>
    <th>Pub Info</th>
    <th>Author</th>
  </tr>
</thead>
<tbody>
  {% for source in page.object_list %}
  <tr class="{% cycle odd,even %}">
    <td>{{ forloop.counter|row_count:page }}</td>
    <td><a href="/{{view}}/{{source.handle|escape}}" class="noThumb">
           <span class="grampsid">[{{source.gramps_id}}]</span></a>
    {% if user.is_authenticated %}
    <td><a href="/{{view}}/{{source.handle|escape}}">{{source.title|escape}}</a>
    <td><a href="/{{view}}/{{source.handle|escape}}">{{source.pubinfo|nbsp}}</a>
    <td><a href="/{{view}}/{{source.handle|escape}}">{{source.author|nbsp}}</a>
    {% else %}
      <td></td>
      <td></td>
      <td></td>
    {% endif %}
  </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}

