{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | My New Title{% endblock %}

{% block branding %}
<h1 id="site-name">My new title for the Admin site!</h1>
{% endblock %}

{% block nav-global %}
    {% if user.is_staff %}
    <style type="text/css">
        .ml {margin:0 10px 10px;display:block;float:left}
    </style>

    <a href="/" clas="ml">Website home</a>  
    <a href="/admin/" class="ml">Admin home</a>
    <a href="/admin/members/invoice/" class="ml">Invoices</a>
    <a href="/admin/auth/user/?is_active__exact=0" class="ml">New Users</a>
    <a href="/admin/auth/user/" class="ml">All Users</a>
    {% endif %}
{% endblock %}
