Source: gramps
Section: python
Priority: optional
Maintainer: Ross Gammon <rossgammon@mail.dk>
Build-Depends-Indep:
 dh-linktree,
 gettext,
 intltool,
 libxml-parser-perl,
 python3-all,
 python3-setuptools
Build-Depends:
 dh-python,
 debhelper (>= 9.0.0)
Standards-Version: 3.9.5
Vcs-Git: git://anonscm.debian.org/collab-maint/gramps.git
Vcs-browser: http://anonscm.debian.org/gitweb/?p=collab-maint/gramps.git
Homepage: http://www.gramps-project.org/
X-Python-Version: >= 3.2

Package: python3-gramps
Architecture: all
Depends:
 gir1.2-gtk-3.0 (>= 3.10.0),
 librsvg2-2,
 python3-gi,
 python3-gi-cairo,
 python3-bsddb3,
 xdg-utils,
 ${misc:Depends},
 ${python3:Depends}
Recommends:
 graphviz,
 gir1.2-goocanvas-2.0,
 libosmgpsmap-1.0-0,
 gir1.2-osmgpsmap-1.0,
 python3-pyicu
Suggests:
 fonts-freefont-ttf,
 gir1.2-gexiv2-0.10,
 gir1.2-gtkspell3-3.0,
 python3-pil,
 rcs
Description: Genealogical research program
 Gramps is an Open Source genealogy program written in Python, using
 the GTK/GNOME interface. It is an extremely flexible program fitting
 the needs for both the amateur genealogist and serious genealogical
 researcher.
 Gramps has the ability to import GEDCOM files exported from many
 proprietary genealogy programs and can produce a large number of
 reports in many popular formats.
