Source: gramps
Maintainer: Gramps Development Team <gramps-devel@lists.sourceforge.net>
Section: python
Priority: optional
Build-Depends-Indep: libxml-parser-perl, gettext, intltool
Build-Depends: python-all (>= 2.7.0), debhelper (>= 7.4.3)
Standards-Version: 3.9.1
Homepage: http://www.gramps-project.org/

Package: gramps
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-gobject (>= 3.3.2), librsvg2-2
Recommends: python-pyicu, python-osmgpsmap,  graphviz, xdg-utils
Suggests: ttf-freefont, python-gtkspell, libgexiv2-1, rcs, python-imaging, python-pygoocanvas
Description: (Genealogical Research and Analysis Management
 Programming System) is a full featured genealogy program supporting
 a Python based plugin system.
