#!/usr/bin/make -f

# Remember to remove verbose option once testing is finished
DH_VERBOSE=1
export PYBUILD_NAME=gramps

%:
	dh $@ --with python --buildsystem=pybuild

# Override auto test because upstream do not use the standard unittest discover
override_dh_auto_test:

# Override of auto_build to force python 3
override_dh_auto_build:
	python setup.py build

# Override of auto_install to force python 3
override_dh_auto_install:
	python setup.py install --root=debian/gramps --install-layout=deb
	# Remove duplicate copyright information
	rm debian/gramps/usr/share/doc/gramps/COPYING
	# Remove install file as it is not needed by package users
	rm debian/gramps/usr/share/doc/gramps/INSTALL
	# Remove duplicate license information
	rm debian/gramps/usr/share/doc/gramps/LICENSE
