
/* GRAMPS Cascading Style Sheet */

/* Standard Tags {{{1
 */
BODY {
	font-family: "Times New Roman", "Times", serif;
	background-color: #fff;
	color: #320;
	font-size: 16px;

}

P,BLOCKQUOTE {
}

DIV {
	margin: 2px;
	padding: 2px;
}

TD {
	vertical-align: top;
}

H1 {
	font-family: "Georgia", "Bistream Vera Serif", "Times New Roman", "Times", serif;
	font-weight: bolder;
	font-size:	160%;
	margin: 2px;
}
H2 {
	font-family: "Georgia", "Bistream Vera Serif", "Times New Roman", "Times", serif;
	font-weight: bolder;
	font-style: italic;
	font-size:	150%;
}
H3 {
	font-weight: bold;
	font-size: 130%;
	margin: 0;
	margin-top: 8px;
	/*padding-left: 2em;*/
	padding-bottom: 10px;

}
H4 {
	margin-top: 1em;
	margin-bottom: 0;
	padding: 0;
	/*padding-left: 2em;*/
	font-size: 110%;

}
H5 {
	margin-bottom: 0.5em;
}
H6 {
	font-weight: normal;
	font-style: italic;
	font-size:	100%;
	margin-left: 1em;
	margin-top: 1.3em;
	margin-bottom: 0.8em;
}

HR {
	height: 6px;
	width: 100%;
	margin: 0;
	color: #a97;



	padding: 2px;
	/*border-top: 0;	|+ Hack: Mozilla work-around to eliminate "groove" +|*/
	border-color: #a97;
	background-color: #a97;
}

A:link {
	color: #430;
	text-decoration: underline;
}
A:visited {
	color: #654;
	text-decoration: underline;
}
A:hover {
	background-color: #f6f0ee;
	color: #210;
	text-decoration: underline;
}
A:active {
	background-color: #f6f0ee;
	color: #210;
	text-decoration: none;
}

SUP {
    line-height: 0;
}
/* Custom {{{1
 */

.navheader {
	padding: 4px;

	margin: 0;

}
.navtitle {
	font-size:	160%;
	color: #fff;
	margin: 0;
	padding: 4px;
	padding-left: 10px;
	background-color: #542;
}
.navbyline {
	float: right;

	margin: 2px;
	padding: 4px;
	padding-right: 10px;
	color: #fff;
}
.nav {
	margin: 0;
	margin-bottom: 4px;
	padding: 1px;
	font-size: 14px;
	font-weight: bold;



}


.summaryarea {
    min-height: 100px;
    /* Hack: IE Dynamic Expression to set the width */
    height: expression(document.body.clientHeight < 1 ? "100px" : "100px" );
}

.portrait {
	justify: center;
	margin: 5px;
	margin-right: 20px;
	padding: 3px;
	border-color: #986;
	border-width: 3px;
}
.snapshot {
	float: right;
	margin: 5px;
	margin-right: 20px;
	padding: 3px;
}
.thumbnail {
	height: 100px;
	border-color: #986;
	border-width: 3px;
}

.leftwrap {
	float: left;
	margin: 2px;
	margin-right: 10px;
}
.rightwrap {
	float: right;
	margin: 2px;
	margin-left: 10px;
}

TABLE.infolist {
	border: 0;
	padding; 0;
	margin: 0;
	margin-left: 2em;
	margin-top: 8px;
}
TD.category {
	margin: 0;
	padding: 4px;	/* Defines spacing between rows */
	padding-right: 3em;
	/*width: 10%;*/
	font-weight: bold;
}
TD.field {
	margin: 0;
	padding: 4px;	/* Defines spacing between rows */
	padding-right: 3em;
	/*width: 20%;*/

}
TD.data {
	margin: 0;
	padding: 4px;	/* Defines spacing between rows */
	padding-left: 10px;
	padding-right: 3em;
	font-weight: bold;
	background-color: #f0ece6;
}


.pedigree {
	margin: 0;
	margin-left: 2em;
	padding: 0;
	background-color: #f0ece6;
	border: 1px;
}
.pedigreeind {

	margin: 0;
	padding: 2em;
	padding-top: 0.25em;
	padding-bottom: 0.5em;
}


.footer {
	margin: 1em;
	font-size: 12px;
	float: right;
}


/* 1}}}
 vim:foldmethod=marker
/*
