/*
Gramps genealogy software 
https://github.com/gramps-project/gramps/edit/maintenance/gramps60/data/gramps.css
   Addon Manager; Addons tab  
*/
.lozenge { 
  font-size: small;
  color: #ffffff;
  background-color: #0d6efd;
  padding: 3px;
  border-radius: 6px;
  box-shadow: 1px 3px 2px rgba(10, 10, 50, 0.33); /* Default dark blue shadow */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.lozenge-active { /* 0013099: Make filter indicator lozenges provide filter toggle functionality  */
  font-size: small;
  color: #ffffff;
  background-color: #E67E22;
  padding: 3px;
  border-radius: 6px;
  box-shadow: 1px 3px 2px rgba(10, 10, 50, 0.33); /* Default dark blue shadow */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.lozenge-button {
  padding: 2px;
  min-height: 0;
}

.addon-row {
  border-width: 1px;
  border-style: solid;
  border-color: alpha(currentColor, .2);
  border-radius: 10px;
  margin: 1px;
}

paned>separator {
  margin: 0px;
  padding: 1px;
}

label.error {
  color: @error_color;
}
