<div class="pagination">
    <span class="step-links">
        <form method="post">{% csrf_token %}
        <div id="alphanav" style="padding: 0pt 0 0pt 0;">
        <ul>
        {% ifequal page.number 1 %}
        <li><input type="button" value="<<" disabled="disabled"></li>
        {% else %}
        <li><input type="button" value="<<" onclick="document.location.href='?page=1{{search_query}}'"></li>
	{% endifequal %}
        {% if page.has_previous %}
            <li><input type="button" value="<" onclick="document.location.href='?page={{page.previous_page_number}}{{search_query}}'"></li>
	{% else %}
            <li><input type="button" value="<" disabled="disabled"></li>
        {% endif %}

        <span class="current">
            <li>Page {{ page.number }} of {{ page.paginator.num_pages }}</li>
        </span>

        {% if page.has_next %}
            <li><input type="button" value=">" onclick="document.location.href='?page={{page.next_page_number}}{{search_query}}'"></li>
	{% else %}
            <li><input type="button" value=">" disabled="disabled"></li>
        {% endif %}
        {% ifequal page.number page.paginator.num_pages %}
        <li><input type="button" value=">>" disabled="disabled"></li>
        {% else %}
        <li><input type="button" value=">>" onclick="document.location.href='?page={{page.paginator.num_pages}}{{search_query}}'"></li>
	{% endifequal %}
	<b>Matches</b>: {{page.paginator.count}}/{{total}} <b>Showing</b>: {{results_this_page}}
	</ul>
        </div>
    </span>
</div>

