/*
#
# Gramps - a GTK+/GNOME based genealogy program
#
# Copyright 2009 Stephane Charette and Jason Simanek
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful, 
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#

**************************************************************************************************
GRAMPS cascading style sheet for common behaviour independant of styles
Style Name: n/a (used by many different styles)
Style Author: Stephane Charette and Jason Simanek
**************************************************************************************************

 ------------- 
 Image Gallery 
 ------------- 


 ensure RegionBox <ol> is hidden and has no margins/padding that would shift the image */
ol.RegionBox {
	display:none;
	list-style:none;
	margin:0;
	padding:0;
}

/* show the RegionBox <ol> When the mouse hovers over the gallery */
div#GalleryDisplay:hover ol.RegionBox {
	display:block;
}

/* define how <li> tags should normally look within RegionBox */
ol.RegionBox li {
	margin:0;
	padding:0;
	display:block;
	position:absolute;
	text-align:center;
	text-decoration:none;
	border:dashed 1px #999;
	background:url(../images/blank.gif) repeat;
	/* IE doesn't work correctly with "hover" if the <li> tag is empty,
	 * so fill the <li> with a blank image; this way the mouse will be
	 * considered in the <li> tag anywhere over the background image
	 */
}

/* use a solid border when the mouse hovers over the <li> tags */
ol.RegionBox li:hover {
	z-index:100;
	border:solid 1px #FFF;
}

/* links are kept hidden... */
ol.RegionBox li a {
	display:none;
}

/* ...until we hover over them */
ol.RegionBox li:hover a {
	display:block;
	text-decoration:none;
	border-bottom:solid 1px #FFF;
	background-color:#888;
	color:#FFF;
}

/* underline is hidden until we hover over the links */
ol.RegionBox li:hover a:hover {
	text-decoration:underline;
}
