/*
# encoding: utf-8
#
# Gramps - a GTK+/GNOME based genealogy program
#
# Copyright 2008-2010 Rob G. Healey <robhealey1@gmail.com>
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#

*******************************************************************************
GRAMPS Cascading Style Sheet
Style Name: Web_Navigation-Vertical.css Stylesheet
*******************************************************************************

# $Id: Web_Navigation-Vertical.css 15241 2010-04-19 11:07:00Z robhealey1 $

 Body Element
----------------------------------------------------- */
body {
    background: -webkit-gradient (linear, left top, left bottom,
                                  from(#ccc), to(#fff));
    color: #000;
    padding: 60px 0px 0px 146px;
}

/*    Header
----------------------------------------------------- */
#header  {
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: auto;
    width: 100%;
    height: 65px;
}

/* Navigation
----------------------------------------------------- */
div#nav {
    padding: 0px;
    margin: 0 auto;
    overflow: auto;
}
div#nav ul {
    list-style-type: none;
    display: block;
    width: 330px;
    position: fixed;
    top: 53px;
    left: 0px;
    padding: 0px;
    background: url(shad2.png) no-repeat;
    -webkit-background-size: 50% 100%;
}
div#nav ul li a {
    -webkit-transition: all 0.3s ease-out;
    background: #cbcbcb url(border.png) no-repeat;
    color: #174867;
    padding: 7px 15px 7px 15px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    width: 120px;
    display: block;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 4px #888;
}
div#nav ul li a:hover {
    background: #ebebeb url(border.png) no-repeat;
    color: #67a5cd;
    padding: 7px 0px 7px 30px;
}
div#nav ul li.CurrentSection a {
    background-color: #000;
    color: #FFF;
}

/* SubNavigation
----------------------------------------------------- */
div#subnavigation {
    width: 100%;
    margin: 0;
    padding: 0;
    border: solid 2px #000;
}
div#subnavigation ul {
    list-style:none;
    min-width: 900px;
    height: 40px;
    margin:0;
    padding: 0px 0px 0px 16px;
    border-bottom: solid 2px #5D835F;
}
div#subnavigation ul li {
    float:left;
}
div#subnavigation ul li:after {
    content: "| ";
}
div#subnavigation ul li a {
    display: block;
    padding: 12px 16px 14px 1px;
    float:left;
    font: .8em bold italic small-caps verdana, serif;
    color: #000;
    text-decoration:none;
    margin:0;
}
div#subnavigation ul li a:hover {
    background-color: #C1B398;
}

/* Alphabet Navigation
----------------------------------------------------- */
div#alphanav {
    width: 100%;
    margin: 0;
    padding: 0;
    border: solid 2px #000;
}
div#alphanav ul {
    list-style:none;
    min-width: 900px;
    height: 24px;
    margin:0;
    padding: 0px 0px 0px 9px;
    border-bottom: solid 2px #000;
}
div#alphanav ul li {
    float: left;
}
div#alphanav ul li:first-child {
    margin-left: 10px;
}
div#alphanav ul li:after {
    content: "| ";
}
div#alphanav ul li a {
    display: block;
    padding: 4px 8px 4px 8px;
    float: left;
    font: .8em bold italic small-caps verdana, serif;
    color: #000;
    text-decoration:none;
    margin:0;
}
