/*
# encoding: utf-8
#
# Gramps - a GTK+/GNOME based genealogy program
#
# Copyright 2008-2010 Rob G. Healey <robhealey1@gmail.com>
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#

******************************************************
GRAMPS Cascading Style Sheet
Style Name: Web_Navigation-Horizontal.css
******************************************************


    Body Element
------------------------------------------------------ */
body {
    background-color: #00029D;
    color: #00029D;
    width: 100%;
}

/*   Navigation Menus
----------------------------------------------------- */
div#nav {
    clear: both;
    padding-top: 1px;
    font: 1.2em/1.4 "sans-serif, Helvetica, Arial";
}
div#nav ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #00029D;
    border-bottom: 2px solid #13A926;
}
div#nav li {
    display: inline;
    margin: 0;
    padding: 0;
}
div#nav a {
    display: block;
    float: left;
    padding: 6px 12px;
    border-right: 1px solid #13A926;
    border-left: 1px solid #13A926;
    color: #FFF;
    text-decoration: none;
}
div#nav a:hover, div#nav a:focus {
    background: #FFF;
    color: #000;
}
div#nav .CurrentSection a {
    font-weight: bold;
    background: #BCEAF6;
    color: #000;
    border-bottom: none;
}
div#nav .CurrentSection a:hover, div#nav .CurrentSection a:focus {
    background: #903;
    color: #FFF;
}

/*    Alphabet Navigation and Year Menu
------------------------------------------------------ */
div#alphanav, div#subnavigation {
    clear: both;
    padding-top: 1px;
    font: bold 1.2em/1.4 "sans, sans-serif";
}
div#alphanav ul, div#subnavigation ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #00029D;
    border-top: 2px solid #13A926;
    border-bottom: 2px solid #13A926;
}
div#alphanav ul li, div#subnavigation ul li {
    display: inline;
    margin: 0;
    padding: 0;
}
div#alphanav ul li a, div#subnavigation ul li a {
    display: block;
    float: left;
    padding: 6px 12px;
    border-right: 1px solid #13A926;
    border-left: 1px solid #13A926;
    color: #FFF;
    text-decoration: none;
}
div#alphanav ul li a:hover, div#alphanav ul li a:focus,
div#subnavigation ul li a:hover, div#subnavigation ul li a:focus {
    background: #FFF;
    color: #000;
}
div#subnavigation ul li.CurrentSection a {
    border-left: solid 1px #13A926;
    border-right: solid 1px #13A926;
    background-color: #FFF;
    color: #00029D;
}
