{% extends "view_page_detail.html" %}
{% load my_tags %}

{% block content %} 

   <script type="text/javascript">
   $(function(){
     $('#tabs').tabs({
	'select': function(event, ui){
			document.location.hash = ui.panel.id;
		}
     });
     $('#shared-tabs').tabs({
	'select': function(event, ui){
			document.location.hash = ui.panel.id;
		}
     });
   });
   </script>

<div class="content" id="IndividualDetail">

{% include "detail_breadcrumb.html" %}

  {% if citationform.errors or sourceform.errors %}
    <hr>
    <p id="error">The following fields have errors. Please correct and try again.</p>
    <div id="error">{{citationform.errors}}</div>
    <div id="error">{{sourceform.errors}}</div>
    <hr>
  {% endif %}
<form method="post">{% csrf_token %}

<!-- Tabs -->
<h2>Citation information</h2>

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs" style="border: none;">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a class="tab-general" href="#tab-general">General</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-notes" href="#tab-notes">Note</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-media" href="#tab-media">Media</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-data" href="#tab-data">Data</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-references" href="#tab-references">Reference</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-history" href="#tab-history">History</a></li>
  </ul>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="tab-general" style="background-color: #f4f0ec;"> 

<table class="infolist" style="width:90%;">
<tr>
<td class="ColumnAttribute">{{citationform.text.label}}:</td>
<td class="ColumnValue" id="data" colspan="3"> {% render citationform.text user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">{{citationform.gramps_id.label}}:</td>
<td class="ColumnValue" id="data"> {% render citationform.gramps_id user action %}</td>
<td class="ColumnAttribute">{{citationform.private.label}}:</td>
<td class="ColumnValue" id="data"> {% render citationform.private user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">{{citationform.page.label}}:</td>
<td class="ColumnValue" id="data" colspan="3"> {% render citationform.page user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">{{citationform.confidence.label}}:</td>
<td class="ColumnValue" id="data" colspan="3"> {% render citationform.confidence user action %}</td>
</tr>
</table>

  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-notes"  style="background-color: #f4f0ec;"> 
    {% note_table citation user action "/note/$act/citation/%s" citation.handle %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-media" style="background-color: #f4f0ec;"> 
    {% media_table citation user action "/media/$act/citation/%s" citation.handle %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-data" style="background-color: #f4f0ec;"> 
    {% data_table citation user action "/data/$act/citation/%s" citation.handle %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-references" style="background-color: #f4f0ec;"> 
    {% citation_reference_table citation user action %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-history" style="background-color: #f4f0ec;"> 
    {% history_table citation user action %}
  </div>
</div>

  <p>Note: Any changes in the shared citation information will be reflected
    in the citation itself, for all items that reference the citation.
  </p>

<hr>

<h2>Source information (shared)</h2>
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="shared-tabs" style="border: none;">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a class="tab-shared-general" href="#tab-shared-general">General</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-shared-notes" href="#tab-shared-notes">Notes</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-shared-media" href="#tab-shared-media">Media</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-shared-repositories" href="#tab-shared-repositories">Repositories</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-shared-references" href="#tab-shared-references">References</a></li>
    <li class="ui-corner-top ui-state-default"><a class="tab-shared-history" href="#tab-shared-history">History</a></li>
  </ul>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="tab-shared-general" style="background-color: #f4f0ec;"> 

<table class="infolist" style="width:90%;">
<tr>
<td class="ColumnAttribute">{{sourceform.title.label}}:</td>
<td class="ColumnValue" id="data" colspan="3"> {% render sourceform.title user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">{{sourceform.author.label}}:</td>
<td class="ColumnValue" id="data" colspan="3"> {% render sourceform.author user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">{{sourceform.gramps_id.label}}:</td>
<td class="ColumnValue" id="data"> {% render sourceform.gramps_id user action %}</td>
<td class="ColumnAttribute">{{sourceform.private.label}}:</td>
<td class="ColumnValue" id="data"> {% render sourceform.private user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">{{sourceform.abbrev.label}}:</td>
<td class="ColumnValue" id="data" colspan="3"> {% render sourceform.abbrev user action %}</td>
</tr>
<tr>
<td class="ColumnAttribute">{{sourceform.pubinfo.label}}:</td>
<td class="ColumnValue" id="data" colspan="3"> {% render sourceform.pubinfo user action %}</td>
</tr>
</table>

  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-shared-notes" style="background-color: #f4f0ec;"> 
    {% note_table source user action "/note/$act/source/%s" source.handle %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-shared-media" style="background-color: #f4f0ec;"> 
    {% media_table source user action "/media/$act/source/%s" source.handle %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-shared-repositories" style="background-color: #f4f0ec;"> 
    {% repository_table source user action "/repository/$act/source/%s" source.handle %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-shared-references" style="background-color: #f4f0ec;"> 
    {% citation_reference_table source user action %}
  </div>
  <div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="tab-shared-history" style="background-color: #f4f0ec;"> 
    {% history_table source user action %}
  </div>
</div>

  <p>Note: Any changes in the shared source information will be reflected
    in the source itself, for all items that reference the source.
  </p>

<hr>

{% if user.is_superuser %}
  {% if action == "edit" %}
    {% make_button "Cancel" "/citation/%s" citation.handle args %}
    <input type="hidden" name="action" value="save"/>
    <input type="hidden" name="search" value="{{search}}"/>
    <input type="hidden" name="page" value="{{page}}"/>
    <input type="submit" value="Save"/>
  {% else %}
    {% ifequal action "add" %}
      {% make_button "Cancel" "/citation/" args %}
      <input type="hidden" name="action" value="create"/>
      <input type="hidden" name="search" value="{{search}}"/>
      <input type="hidden" name="page" value="{{page}}"/>
      <input type="submit" value="Create"/>
    {% else %}
      {% make_button "Add Citation" "/citation/add" args %}
      {% make_button "Edit Citation" "/citation/%s/edit" citation.handle args %}
      {% make_button "Delete Citation" "/citation/%s/delete" citation.handle args %}
    {% endifequal %}
  {% endif %}
{% else %}
{% endif %}
</form>
{% endblock %}
