{% extends "gramps-base.html" %}
{% load my_tags %}

{% block title %}{{sitename}}: {{tview}} view {% endblock %}
{% block heading %}{{sitename}}: {{tview}} view {% endblock %}

{% block content %} 

<div id="description" style="padding: 10pt 10pt 10pt 10pt;">
<form name="SearchForm">
{% if tview != "Report" %}
   {% filter breadcrumb %}
      {% format "/browse|Browse" %} ||
      {% format "/%s|%s" view tviews %}
   {% endfilter %}
{% endif %}
<input type="submit" value="Search:"></input>
<input autocomplete="off" name="search" id="get_focus" type="text" size="50" value="{{search}}"></input>
<br/><i>Available search terms</i>: <b>{{search_terms}}</b>
</form>
</div>

{% paginator %}

<div style="overflow:auto; height:500px;width:800px;">

{% block table_data %} <table></table> {% endblock %}

</div>

{% include "paginator.html" %}

{% endblock %}
