[Desktop Entry]
Name=GRAMPS genealogical database
Comment=Manage your family tree
Exec=gramps
Terminal=false
Type=Application
Icon=gramps.png
Categories=Application;Genealogy;
StartupNotify=true
X-GNOME-DocPath=gramps/gramps-manual.xml

Name[no]=GRAMPS slekts database
Comment[no]=Administrer ditt famili tre
Name[nb]=GRAMPS slekts database
Comment[nb]=Administrer ditt famili tre

