[Desktop Entry]
Name=Genealogy (Gramps)
Name[sv]=Gramps
Comment=Genealogy Program
Comment[sv]=Ett släktforskningsprogram
Exec=gramps
Icon=gramps.png
Terminal=0
Type=Application
