/*
----------------------------------------------------------------------------
GeoView Style Sheet
Style Name: GeoView
Style Author: Serge Noiraud (2009)

----------------------------------------------------------------------------
This file was created for the GeoView usage.
----------------------------------------------------------------------------
GRAMPS is a Free Software Project for Genealogy, offering a professional
genealogy program, and a wiki open to all. It is a community project, created,
developed and governed by genealogists.

Go to <http://gramps-project.org/> to learn more!

License
----------------------------------------------------------------------------
Copyright 2009 Serge Noiraud

This file is part of the GRAMPS program.

GRAMPS is free software: you can redistribute it and/or modify it under the
terms of the GNU General Public License as published by the Free Software
Foundation, version 2 of the License.

GRAMPS is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
GRAMPS. If not, see <http://www.gnu.org/licenses/>.
----------------------------------------------------------------------------

# $Id: $

 GeoView Styles
----------------------------------------------------- */

#openstreetmap
{
 position:absolute;
 border: 3px black solid;
 margin-left:auto;
 margin-right:auto;
}

#google
{
 border: 3px black solid;
 margin-left:auto;
 margin-right:auto;
}

#openlayers
{
 border: 3px black solid;
 margin-left:auto;
 margin-right:auto;
}

#microsoft
{
 border: 3px black solid;
 margin-left:auto;
 margin-right:auto;
}

#yahoo
{
 border: 3px black solid;
 margin-left:auto;
 margin-right:auto;
}

/* InfoBull */
#geo-info {
 white-space:nowrap;
 overflow:auto;
 font-size:10pt;
 width=105%
 max-height:2em;
}

/* title and years selection */
#geo-content {
 font-size:10pt;
 height:80px;
 overflow:auto;
}

#geo-theplaces ul {
 list-style-type: none; 
 font-size:16pt;
 margin: 0;
 padding: 0;
}
#geo-title
{
 list-style-type: none;
 margin-left: 5px;
}

#geo-thetitle:hover li { display: block; }
#geo-thetitle li { 
 display: none; 
 font-size:12pt;
 font-weight: bold;
}

#geo-theplaces
{
 position:absolute;
 opacity:.90;
 top:90px;
 right:100px;
 width: 380px;
 border: 0px;
 overflow:auto;
 max-height:50%;
}

#geo-theplaces a
{
 color: black;
 display: block;
}

#geo-theplaces a:visited
{
 color: black;
}

#geo-theplaces a:active
{
 color: black;
}

#geo-theplaces a:hover
{
 color: black;
}
