/*
----------------------------------------------------------------------------
GeoView Style Sheet
Style Name: GeoView
Style Author: Serge Noiraud (2009)

----------------------------------------------------------------------------
This file was created for the GeoView usage.
----------------------------------------------------------------------------
GRAMPS is a Free Software Project for Genealogy, offering a professional
genealogy program, and a wiki open to all. It is a community project, created,
developed and governed by genealogists.

Go to <http://gramps-project.org/> to learn more!

License
----------------------------------------------------------------------------
Copyright 2009 Serge Noiraud

This file is part of the GRAMPS program.

GRAMPS is free software: you can redistribute it and/or modify it under the
terms of the GNU General Public License as published by the Free Software
Foundation, version 2 of the License.

GRAMPS is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
GRAMPS. If not, see <http://www.gnu.org/licenses/>.
----------------------------------------------------------------------------

# $Id: $

 GeoView Styles

 color:#2e3436; # tango color Aluminium
----------------------------------------------------- */

#openstreetmap
{
 border: 3px black solid;
 margin-left:auto;
 margin-right:auto;
 min-height:400px;
 min-width: 300px;
}

#google
{
 border: 3px black solid;
 margin-left:auto;
 margin-right:auto;
 min-height:400px;
 min-width: 300px;
}

#openlayers
{
 border: 3px black solid;
 margin-left:auto;
 margin-right:auto;
 min-height:400px;
 min-width: 300px;
}

#microsoft
{
 border: 3px black solid;
 margin-left:auto;
 margin-right:auto;
 min-height:400px;
 min-width: 300px;
}

#yahoo
{
 border: 3px black solid;
 margin-left:auto;
 margin-right:auto;
 min-height:400px;
 min-width: 300px;
}

/* InfoWindow */
#geo-info {
 font-size:10pt;
 max-height:200px;
 max-width: 600px;
 min-width: 300px;
 text-align: left;
 padding-right: 6px;
 overflow-x: auto;
 overflow-y: auto; 
}

/* title and years selection */
#geo-content {
 position:relative;
 top:0;
 left:0;
 font-size:10pt;
 height:90px;
 overflow-y:auto;
}

#geo-theplaces ul {
 list-style-type: none; 
 color:#2e3436;
 font-size:16pt;
 opacity:.90;
 margin: 0;
 padding: 0;
}

#geo-title {
 list-style-type: none;
 margin-left: 5px;
}

#geo-thetitle:hover li { display: block; }
#geo-thetitle li { 
 display: none; 
 font-size:12pt;
 color:#2e3436;
 white-space:nowrap;
}

#geo-liste li { 
 display: none; 
 color:#2e3436;
 font-size:12pt;
}

#geo-liste:hover li { 
}

#geo-theplaces {
 position:absolute;
 color:#2e3436;
 top:120px;
 left:100px;
 width: 50%;
 border: 0px;
 overflow:auto;
 max-height:50%;
 z-index:800; /* must be greater than 748 to be visible on openlayers */
}

#geo-theplace {
 display: block;
}

#geo-theplace a {
 color: #2e3436;
 display: block;
}

#geo-theplace a:visited {
 color: #2e3436;
 background-color: transparent;
 text-decoration:none;
}

#geo-theplace a:active {
 color: #2e3436;
 background-color: transparent;
 text-decoration:none;
}

#geo-theplaces a:hover {
 color: #2e3436;
 background-color: transparent;
 text-decoration:none;
}

#geo-theplace a:hover {
 color: #2e3436;
 background-color: transparent;
 text-decoration:none;
}
