[Desktop Entry]
Encoding=UTF-8
Name=GRAMPS Genealogy System
Name[sv]=GRAMPS
Name[no]=GRAMPS
Name[nb]=GRAMPS
Name[ru]=GRAMPS
Name[de]=GRAMPS
Name[hu]=GRAMPS
Comment=Manage genealogical information, perform genealogical research and analysis
Comment[sv]=Ett släktforskningsprogram
Comment[no]=Et slektsforskningsprogram
Comment[nb]=Et slektsforskningsprogram
Comment[ru]=Система исследования и анализа генеалогической информации
Comment[de]=Ein Programm zur Ahnenforschung
Comment[hu]=Örökléskutató és elemző program
Icon=gramps.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;Genealogy;
X-GNOME-DocPath=gramps/gramps-manual.xml
MimeType=application/x-gramps
Exec=gramps %F
