/*
# encoding: utf-8
#
# Gramps - a GTK+/GNOME based genealogy program
#
# Copyright 2008-2010 Rob G. Healey <robhealey1@gmail.com>
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful, 
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#

**************************************************************************************************
GRAMPS Cascading Style Sheet
Style Name: Web_Navigation-Horizontal Stylesheet
***************************************************************************************************

# $Id: Web_Alphabet-Horizontal.css 14559 2010-03-02 01:16:46Z robhealey1 $

 Header
----------------------------------------------------- */
div#header  {
    overflow: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Body Element
--------------------------------------------------------------------------------------- */
body {
    color: #000;
    background-color: #FFF;
    margin: 0;
    padding: 0px 14px 0px 14px;
    width: 965px;
}

/* Alphabet Navigation
----------------------------------------------------- */
div#alphabet {
    width: 100%;
    margin: 0;
}
div#alphabet ul {
    list-style:none;
    min-width:770px;
    height:24px;
    margin:0;
    padding: 0px 0px 0px 16px;
    border-width: 2px 0px 4px 0px;
    border-style: solid;
}
div#alphabet ul li:after {
    content:"  |";
}
div#alphabet ul li {
    margin:0;
    float:left;
}
div#alphabet ul li a {
    display:block;
    padding: 4px 8px 4px 8px;
    float:left;
    font:bold 16px/100% sans;
    margin:0;
    text-decoration:none;
}

/* Navigation
----------------------------------------------------- */
div#navigation, div#subnavigation {
    width: 100%;
    margin: 0;
    padding: 0;
    border: solid 2px #000;
}
div#navigation ul, div#subnavigation ul {
    list-style:none;
    min-width: 900px;
    height: 24px;
    margin:0;
    padding: 0px 0px 0px 9px;
    border-bottom: solid 2px #000;
}
div#navigation ul li, div#subnavigation ul li {
    float: left;
}
div#navigation ul li:first-child, div#subnavigation ul li:first-child {
    margin-left: 10px;
}
div#navigation ul li:after, div#subnavigation ul li:after {
    content: "| ";
}
div#navigation ul li a, div#subnavigation ul li a {
    display: block;
    padding: 4px 8px 4px 8px;
    float: left;
    font: .8em bold italic small-caps verdana, serif;
    color: #000;
    text-decoration:none;
    margin:0;
}
div#navigation ul li a:hover, div#subnavigation ul li a:hover {

}
div#navigation ul li.CurrentSection a,
div#subnavigation ul li.CurrentSection a {
    background-color: #00029D;
    color: #FFF;
}
div#navigation ul li.CurrentSection a:hover,
div#subnavigation ul li.CurrentSection a:hover {
    background-color: #000;
}
