/*
# encoding: utf-8
#
# Gramps - a GTK+/GNOME based genealogy program
#
# Copyright 2008-2010 Rob G. Healey <robhealey1@gmail.com>
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful, 
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#

**************************************************************************************************
GRAMPS Cascading Style Sheet
Style Name: Web_Navigation-Horizontal Stylesheet
***************************************************************************************************

# $Id: Web_Navigation-Horizontal.css 15207 2010-04-17 16:50:00Z robhealey1 $

 Body Element
----------------------------------------------------- */
body {
    margin: 0 auto;
    padding: 0px 4px 0px 4px;
    width: 1060px;
}

/*  lphabet Navigation
----------------------------------------------------- */
div#alphabet {
    width: 100%;
    margin: 0;
}
div#alphabet ul {
    list-style: none;
    min-width: 770px;
    height: 24px;
    margin: 0;
    padding: 0px 0px 0px 16px;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
}
div#alphabet ul li {
    border-width: 0px 2px 0px 2px;
    border-style: solid;
    margin: 0;
    float: left;
}
div#alphabet ul li:first-child {
    border-left: none;
}
div#alphabet ul li a {
    font: normal 16px sans;
    display: block;
    padding: 4px 8px 4px 8px;
    float: left;
    margin: 0;
    text-decoration: none;
}

/* Navigation/ Subnavigation
----------------------------------------------------- */
div#navigation, div#subnavigation {
    width: 100%;
    margin: 0;
}
div#navigation ul, div#subnavigation ul {
    list-style: none;
    min-width: 900px;
    height: 32px;
    margin: 0;
    padding: 0px 0px 0px 10px;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
}
div#navigation ul li, div#subnavigation ul li {
    border-width: 0px 2px 0px 2px;
    border-style: solid;
    float: left;
    margin: 0;
}
div#navigation ul li:first-child, div#subnavigation ul li:first-child {
    border-left: none;
    margin: 0 auto;
    padding: 0;
}
div#navigation ul li a, div#subnavigation ul li a {
    display: block;
    padding: 8px 6px 6px 6px;
    font: normal 12px serif;
    text-decoration: none;
}
