{% extends "gramps-base.html" %}

{% block title %}GRAMPS Connect - login {% endblock %}
{% block heading %}GRAMPS - login {% endblock %}

{% block content %}
<h2>User Login</h2>
{% if form.errors %}
<p id="description">Your username or password were not valid. Please try again.</p>
{% else %}
<p id="description">Enter your login ID and password below. </p>
{% endif %}
<form method="post" action=".">
 <table>
   <tr>
    <td>
      <label for="id_username">Username: </label>
    </td>
    <td>
      {{form.username}}
    </td>
   </tr>
   <tr>
    <td>
      <label for="id_password">Password: </label>
    </td>
    <td>
      {{form.password}}
    </td>
   </tr>
 </table>
 <input type="hidden" name="next" value="/" />
 <input type="submit" value="Login" />
</form>
{% endblock %}
